h2 {
margin-top:4em;
}

label {
  color: black;
  font-weight: bold;
}
input {
  font-size: 1em;
  padding: .5rem;
  margin-bottom: 1rem;
}
button {
  margin-top: 20px;
  background-color:#002F6C;
  padding: 1rem;
  border-radius: 4px;
  font-size: 1rem;
  color:white;
}
button:hover {
  background-color: black;
}
button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}
