h1 {
  margin-bottom: 0;
  color: #002F6C;
  margin-left: 1.5rem;
}
nav {
display: flex;
width: 100%;
 box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.ford-logo {
width:130px;
height:110px;}

nav a {
  padding: 1rem;
  text-decoration: none;
  margin-top: 35px;
  display: inline-block;
  height: 13px;
  background-color: #002F6C;
  color: white;
  border-radius: 4px;
  margin-left: 5rem;
  margin-bottom:0;
}

nav a:hover {
  color: white;
  background-color: black;
}
nav a.active {
  background-color: black;
}
