h2 {
  text-align: center;
  margin-top: 10%;
  font-size: 30px;
  margin-bottom:2rem;
}


.vehicles-menu {
  padding: 0;
  margin: auto;
  max-width: 1000px;

  /* flexbox */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
  align-items: flex-start;
}

a {
  background-color: #002F6C;
  border-radius: 2px;
  padding: 2.5rem;
  font-size: 1.2rem;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  text-align: center;
  width: 100%;
  min-width: 70px;
  margin: .5rem auto;
  box-sizing: border-box;
  box-shadow: 0 5px 6px 0 rgba(0,0,0,.2);

  /* flexbox */
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
}

@media (min-width: 600px) {
  a {
    width: 18%;
    box-sizing: content-box;
  }

}

a:hover {
  background-color: #000;
}
